* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-color: #402547;
    --section-color: #352a50;
    --text-color: #f3da98;
    --btn-color: rgb(234, 138, 104);
    --dark-text-color: #252525;
    --blue-btn: #2078c1;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.nav-container {
    z-index: 20;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background: var(--section-color);
    height: 80px;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

.info-container {
    color: white;
    z-index: 6;
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.info-container h1 {
    font-weight: 400;
    font-size: 2.2rem;

}

.info-container h2 {
    font-weight: 400;
    font-size: 1.2rem;
}

.info-container button {
    margin-top: 20px;
    background: var(--btn-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.train-img {
    position: absolute;
    bottom: 0;
    pointer-events: none;
    /* чтобы была возможность нажать на кнопку */
}

#parallax-one {
    z-index: 10;
}

#parallax-two {
    z-index: 9;
}

#parallax-three {
    z-index: 8;
}

#parallax-four {
    z-index: 7;
}

#parallax-five {
    z-index: 5;
}

.routes {
    background: var(--section-color);
    padding: 60px 0;
}

.routes h2 {
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 2rem;
}

.routes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.w-88 {
    width: 80%;
    margin: auto;
}

.img-card-container {
    aspect-ratio: 16 / 9;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

.img-card-container:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: -20px 20px 60px rgba(234, 138, 104, 0.5);
}

.routes-container img {
    width: 100%;
    height: 100%;
}

.img-card-container p {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    transform: translateY(36%);
}

.parallax-main {
    height: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

.left-container {
    position: relative;
}

.stones {
    position: absolute;
    height: 100%;
}

#main-one {
    z-index: 20;
}

#main-two {
    z-index: 19;
}

#main-three {
    z-index: 18;
}

#main-four {
    z-index: 17;
}

#main-five {
    z-index: 16;
}

.right-container{
    color: var(--dark-text-color);
    align-self: center;
    width: 100%;
    max-width: 40ch;
}

.right-container h2{
    font-size: 2rem;
}

.right-container p{
   margin-top: 25px;
   margin-bottom: 10px;
}

.right-container button {
    background: var(--blue-btn);
    color: white;
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact{
    padding: 60px 0;
    background: var(--section-color);
}

.contact form{
    width: 100%;
    max-width: 500px;
}

.contact input{
    width: 100%;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.contact textarea{
    width: 100%;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 200px;
}

.contact label{
    color: white;
    margin-bottom: 5px;
}

.contact button{
    background: var(--btn-color);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}